.about-us {
  text-align: center;

  h1 {
    color: #ffffff;
    margin-top: 1em;
  }

  p {
    font-size: 20px;
    text-align: justify;
    line-height: 2em;
    width: 80%;
    margin: 2em auto;
  }
}
