<div class="row">
  <div class="col-md-6 profile-image">
    <img src="../../../assets/images/profile-black.jpeg" class="img-fluid flicker" @fadeEarly>
  </div>
  <div class="col-md-6 tagline" @introPara>
    <p class="intro"><span>I'm Mayur Bhatia, a</span> <span> graduate student from </span> <span>Northeastern University </span> <span>and a Full-stack web developer</span></p>
    <p><a href = "https://www.facebook.com/mayur741" target="_blank"><i class="fa fa-facebook"></i></a>  <a href = "https://www.instagram.com/mayurbhatia95/" target="_blank"><i class="fa fa-instagram"></i></a>  <a href="https://www.linkedin.com/in/mayurhbhatia/" target="_blank"><i class="fa fa-linkedin"></i></a></p>
  </div>
</div>
