<div class="row home-content">
  <div class="col-md-6 profile-image">
    <img src="../../../assets/images/profile-black.jpeg" class="img-fluid flicker" @fadeEarly>
  </div>
  <div class="col-md-6 tagline" @introPara>
    <p class="intro">I'm Mayur Bhatia, I design and develop webapps</p>
    <p><a href = "https://www.facebook.com/mayur741" target="_blank"><i class="fa fa-facebook"></i></a>  <a href = "https://www.instagram.com/mayurbhatia95/" target="_blank"><i class="fa fa-instagram"></i></a>  <a href="https://www.linkedin.com/in/mayurhbhatia/" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/bhatiama" target="_blank"><i class="fa fa-github"></i></a></p>
    <a href="/src/assets/Mayur_Resume2019v7.pdf"><button type="button" class="btn btn-secondary">Resume</button></a>
  </div>
</div>
