<div class="row home-content">
  <div class="col-md-6 profile-image">
    <img src="../../../assets/images/profile-black.jpeg" class="img-fluid flicker" @fadeEarly>
  </div>
  <div class="col-md-6 tagline" [@introPara]="para.length">
    <p class="intro">I'm Mayur Bhatia, I design and develop webapps</p>
    <h4 class="intro about-us">About Me</h4>
    <p class="intro">I'm an experienced Full-Stack web developer and User experience designer based out of Boston, Massachusetts. Currently, pursuing Master's in Information Systems at Northeastern University.</p>
    <p class="intro"><a href = "https://www.facebook.com/mayur741" target="_blank"><i class="fa fa-facebook"></i></a>  <a href = "https://www.instagram.com/mayurbhatia95/" target="_blank"><i class="fa fa-instagram"></i></a>  <a href="https://www.linkedin.com/in/mayurhbhatia/" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/bhatiama" target="_blank"><i class="fa fa-github"></i></a></p>
    <p class="intro"><a href="/assets/Mayur_Resume.pdf"><button type="button" class="btn btn-secondary resume">Resume</button></a> <a href="/assets/MayurBhatia_Portfolio.pdf"><button type="button" class="btn btn-secondary portfolio">Portfolio</button></a></p>
  </div>
</div>
