<div class="row" [@projectsAnimate]="card.length">
  <!--first-row-->
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body text-dark">
        <h4 class="card-title">Arte <i class="fas fa-music"></i></h4>
        <p class="card-text">Arte is an Angular based music application that uses Spotify Web API to let users search tracks, albums & artists; create & view playlist and add tracks to playlist </p>
        <a href="https://github.com/bhatiama/Arte" class="card-link"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-dark">
      <div class="card-body text-white border-dark">
        <h4 class="card-title">To-do List <i class="fas fa-list-alt"></i></h4>
        <p class="card-text">It is a single-page To-Do web application where user can create update read and delete to-do items. Implemented RESTful API using Node.js, Express.js  </p>
        <a href="https://github.com/bhatiama/Todo-list" class="card-link text-white" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body text-dark">
        <h4 class="card-title">Helping Hand <i class="fas fa-medkit"></i></h4>
        <p class="card-text">An application built on JAVA Swing which aims to help underprivileged by providing free & adequate healthcare services tailored to each patient’s individual needs  </p>
        <a href="https://bitbucket.org/Gulati_Rohit_001083445/runtime-terror/src/master/HelpingHand-FinalProject/" class="card-link"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>

  <!--Second-row-->
  <div class="col-md-4 col-sm-6">
    <div class="card bg-dark">
      <div class="card-body text-white border-dark">
        <h4 class="card-title">Urban Donate <i class="fas fa-hand-holding-heart"></i></h4>
        <p class="card-text">Urban Donate is a Non-Profit techno-charity venture intended to serve as a valuable platform to donate recyclable items to needy sections of society  </p>
        <a href="https://github.com/mayurbhatia18/urbandonate" class="card-link text-white" target="_blank"><i class="fa fa-github"></i></a> <a href="https://urbandonate.netlify.com" class="card-link text-white" target="_blank"><i class="fa fa-globe"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body text-dark">
        <h4 class="card-title">Archimedes Academy <i class="fas fa-user-graduate"></i></h4>
        <p class="card-text">Archimedes Academy is a website for a small-scale coaching institute based out of Mumbai,India where students can check notifications, homework, timetable and, exam schedule</p>
        <a href="https://github.com/mayurbhatia18/archimedes-academy" class="card-link" target="_blank"><i class="fa fa-github"></i></a> <a href="http://www.archimedesacademy.co.in/index.php" class="card-link" target="_blank"><i class="fa fa-globe"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-dark">
      <div class="card-body text-white border-dark">
        <h4 class="card-title">Apex Corp <i class="fas fa-industry"></i></h4>
        <p class="card-text"> It is a portfolio website to display the products of an iron and steel manufacturing industry based out of Jaipur, India </p>
        <a href="https://github.com/mayurbhatia18/apex-corporation" class="card-link text-white" target="_blank"><i class="fa fa-github"></i></a> <a href="https://apexcorp.netlify.com/" class="card-link text-white" target="_blank"><i class="fa fa-globe"></i></a>
      </div>
    </div>
  </div>

    <!--Third-row-->
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body text-dark">
          <h4 class="card-title">Drum Kit <i class="fas fa-drum"></i></h4>
          <p class="card-text">An application to play drum sounds using mouse click and key press using vanilla JavaScript</p>
          <a href="https://github.com/mayurbhatia18/Drum-Kit" class="card-link" target="_blank"><i class="fa fa-github"></i></a> <a href="https://kitdrum.netlify.com/" class="card-link" target="_blank"><i class="fa fa-globe"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card bg-dark">
        <div class="card-body text-white border-dark">
          <h4 class="card-title">Simon Game <i class="fas fa-dot-circle"></i></h4>
          <p class="card-text">A web prototype of a simon device that creates a series of tones and lights and requires a user to repeat the sequence</p>
          <a href="https://github.com/mayurbhatia18/Simon-Game" class="card-link text-white" target="_blank"><i class="fa fa-github"></i></a> <a href="https://simong.netlify.com/" class="card-link text-white" target="_blank"><i class="fa fa-globe"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body text-dark">
          <h4 class="card-title">Dice Challenge <i class="fas fa-dice"></i></h4>
          <p class="card-text">A simple dice game built using JavaScript which generates random dice number on page refresh </p>
          <a href="https://github.com/mayurbhatia18/dice-challenge" class="card-link" target="_blank"><i class="fa fa-github"></i></a> <a href="https://dicechallenge.netlify.com/" class="card-link" target="_blank"><i class="fa fa-globe"></i></a>
        </div>
      </div>
    </div>
</div>

