<div class="container" @fadeEarly>
  <div class="main-timeline">

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Jan 2021 - </span><br>
            <span class="month">Present</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Teaching Assistant</h5>
        <h6 class="sub-title">Northeastern University</h6>
          <ul class="description">
            <li>Mentored and instructed a class of 50 graduate students for User Experience Design/Testing course</li>
            <li>Designed and conducted labs on various wireframing tools such as Balsamiq, Sketch, Moqups & Axure RP</li>
          </ul>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Jul 2020 - </span><br>
            <span class="month">Jan 2021</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">UI/UX Developer Co-op</h5>
        <h6 class="sub-title">Addgene, Boston, MA</h6>
          <ul class="description">
            <li>Improved the legacy codebase by creating responsive, cross-browser compatible and reusable Django templates for the
              public website and internal inventory management system</li>
            <li>Implemented new checkout process with improved user experience that increased the average online orders by 20%</li>
            <li>Generated creative design solutions by facilitating User Interviews & Usability Testing with internal/external stakeholders</li>
            <li>Collaborated with multiple cross-functional teams to deliver high-quality work in a timely manner</li>
            <li>Wrote Python unit tests and Jasmine tests to ensure code quality and enhance test coverage of the application</li>
          </ul>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Oct 2017 - </span><br>
            <span class="month">May 2019</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Software Engineer</h5>
        <h6 class="sub-title">Accenture, India</h6>
          <ul class="description">
            <li>Optimized existing Accenture Life Insurance Platform (ALIP) using JAVA 8 standards to reduce insurance application
              processing time by 25%</li>
            <li>Assessed project requirements with Business Configuration team using Agile and Scrum principles to design configuration
              rules and prioritize development activities</li>
            <li>Conducted training sessions on Spring MVC framework and standard coding techniques for new recruits in the team</li>
            <li>Worked closely with Integration team to develop integration with third-party vendors such as AURA to accelerate
              underwriting process</li>
          </ul>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Jun 2016 - </span><br>
            <span class="month">Sept 2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Frontend Developer</h5>
        <h6 class="sub-title">Vler Technologies, India</h6>
        <ul class="description">
          <li>Revamped existing website to simplify navigation, enhance visuals and reducing page load time to less than 2 seconds</li>
          <li>Boosted search engine rankings and designed social media content that increased user’s engagement by 30%</li>
          <li>Collaborated with Backend development team to assimilate the business logic of the Vler web application</li>
          <li>Tested troubleshooting methods, devised innovative solutions, and documented resolutions for inclusion in knowledge base for support team use </li>
        </ul>
      </div>
    </div>
    <!-- end experience section-->

  </div>
</div>
