<div class="row" [@introPara]="exp.length">
    <div class="col-md-6 exp intro">
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">Accenture, Mumbai (Oct2017 - May 2019)</div>
            <div class="card-body">
              <h4 class="card-title">Software Engineer</h4>
              <ul class="card-text">
                  <li>Optimized existing Accenture Life Insurance Platform (ALIP) using JAVA 8 standards to reduce insurance application processing time by 25%</li>
                  <li>Assessed project requirements with Business Configuration team using Agile and Scrum principles to design configuration rules and prioritize development activities</li>
                  <li>Conducted training sessions on Spring MVC framework and standard coding techniques for new recruits in the team </li>
                  <li>Worked closely with Integration team to develop integration with third-party vendors such as AURA to accelerate underwriting process </li>
              </ul>
            </div>
          </div>
    </div>
    <div class="col-md-6 exp intro">
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">VLER Technologies, Mumbai (Jun 2016 - Jul 2016)</div>
            <div class="card-body">
              <h4 class="card-title">Front-end Developer Intern</h4>
              <ul class="card-text">
                <li>Revamped existing website to simplify navigation, enhance visuals and reducing page load time to less than 2 seconds</li>
                <li>Boosted search engine rankings and designed social media content that increased user’s engagement by 30%</li>
                <li>Collaborated with Back-end development team to assimilate the business logic of the vler web application</li>
                <li>Tested troubleshooting methods, devised innovative solutions, and documented resolutions for inclusion in knowledge base for support team use </li>
              </ul>
            </div>
          </div>
    </div>
</div>
