<div class="container" @fadeEarly>
  <div class="main-timeline">

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Sept 2019 - </span><br>
            <span class="month">Present</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Northeastern University, Boston</h5>
        <h6 class="sub-title">Master of Science in Information Systems</h6>
        <p class="description">
          <strong>Relevant courses:</strong> Web Design and User Experience Engineering, Application Engineering and
          Development, Program Structures
          and Algorithms, Web Tools and Methods, User Experience Design/Testing, Network Structures & Cloud Computing
        </p>
      </div>
    </div>
    <!-- end experience section-->

    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">May 2013 - </span><br>
            <span class="month">May 2017</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Mumbai University, India</h5>
        <h6 class="sub-title">Bachelor of Engineering in Information Technology</h6>
        <p class="description">
          <strong>Relevant courses:</strong> Object-Oriented Programming, Data Structures & Algorithms, Web Tools and
          Designing, Software Engineering
        </p>
      </div>
    </div>
    <!-- end experience section-->
  </div>
</div>
