/* You can add global styles to this file, and also import other style files */

html, body { width: 100%; height: auto;}
body { margin: 0; font-family: "Lexend Deca", "Helvetica Neue", sans-serif; background-color: black;}
